@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    #__next {
        @apply h-full;
    }
    html,
    body {
        @apply h-full m-0 p-0;
    }
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .shake {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }
}

html,
body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

body {
    overflow-y: hidden;
}

.hg-theme-default.hg-milan-theme {
    @apply text-black h-full transition-colors delay-75;
}

.hg-theme-default.hg-milan-theme .hg-rows {
    @apply grid place-items-stretch place-content-stretch h-full;
}

.hg-theme-default.hg-milan-theme .hg-row {
    @apply h-full m-1;
}

.hg-button {
    @apply transition-colors delay-100;
}

.hg-milan-theme.hg-milan-theme .hg-button {
    height: 85%;
}

.hg-milan-theme.hg-milan-theme .hg-button span {
    @apply text-2xl;
}

.hg-theme-default.hg-milan-theme .hg-row > div:last-child {
    @apply mr-1 text-sm;
}

.hg-theme-default.hg-milan-theme .hg-row > div:last-child span {
    @apply text-sm;
}

.hg-theme-default.hg-milan-theme .hg-row > div:first-child {
    @apply pr-2 pl-3;
}

.word-not-in-dictionary {
    width: clamp(5vw, 60vw, 250px);
    left: calc((100-width) / 2);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
