@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

.hg-theme-default.hg-milan-theme {
    @apply text-black h-full;
}

.hg-theme-default.hg-milan-theme .hg-rows {
    @apply grid place-items-stretch place-content-stretch h-full;
}

.hg-theme-default.hg-milan-theme .hg-row {
    @apply h-full m-1;
}

.hg-milan-theme.hg-milan-theme .hg-button {
    height: 85%;
}

.hg-milan-theme.hg-milan-theme .hg-button span {
    @apply text-2xl;
}

.hg-theme-default.hg-milan-theme .hg-row > div:last-child {
    @apply mr-1;
}

.hg-theme-default.hg-milan-theme .hg-row > div:first-child {
    @apply pr-2 pl-3;
}
